<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZlNv5jJHvV2Prl-V8g6vXxQHnjhTFn1s</string>
	<key>GCM_SENDER_ID</key>
	<string>511353591146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.families</string>
	<key>PROJECT_ID</key>
	<string>israelhostfamilies</string>
	<key>STORAGE_BUCKET</key>
	<string>israelhostfamilies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511353591146:ios:8b8217a3c1f2d02a874113</string>
</dict>
</plist>